@charset "utf-8"; 

* { margin:0px; padding:0px; box-sizing:border-box; font-family:var(--font-01); }

:root  {  
            --orange:#FD853A;
            --gray:#F2F4F7; 
}
/* Add the local repository to the fonts */
@font-face {
    font-family: 'Lufga';
    src: url('/asstes/fonts/Lufga-Medium.eot');
    src: local('Lufga Medium'), local('lufga-Medium'),
        url('/asstes/fonts/Lufga-Medium.eot') format('embedded-opentype'),
        url('/asstes/fonts/Lufga-Medium.woff2') format('woff2'),
        url('/asstes/fonts/Lufga-Medium.woff') format('woff'),
        url('/asstes/fonts/Lufga-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-ExtraBoldItalic.eot');
    src: local('Lufga ExtraBold Italic'), local('Lufga-ExtraBoldItalic'),
        url('Lufga-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lufga-ExtraBoldItalic.woff2') format('woff2'),
        url('Lufga-ExtraBoldItalic.woff') format('woff'),
        url('Lufga-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-ExtraLight.eot');
    src: local('Lufga ExtraLight'), local('Lufga-ExtraLight'),
        url('Lufga-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Lufga-ExtraLight.woff2') format('woff2'),
        url('Lufga-ExtraLight.woff') format('woff'),
        url('Lufga-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-BlackItalic.eot');
    src: local('Lufga Black Italic'), local('Lufga-BlackItalic'),
        url('Lufga-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Lufga-BlackItalic.woff2') format('woff2'),
        url('Lufga-BlackItalic.woff') format('woff'),
        url('Lufga-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Black.eot');
    src: local('Lufga Black'), local('Lufga-Black'),
        url('Lufga-Black.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Black.woff2') format('woff2'),
        url('Lufga-Black.woff') format('woff'),
        url('Lufga-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-LightItalic.eot');
    src: local('Lufga Light Italic'), local('Lufga-LightItalic'),
        url('Lufga-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lufga-LightItalic.woff2') format('woff2'),
        url('Lufga-LightItalic.woff') format('woff'),
        url('Lufga-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Regular.eot');
    src: local('Lufga Regular'), local('Lufga-Regular'),
        url('Lufga-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Regular.woff2') format('woff2'),
        url('Lufga-Regular.woff') format('woff'),
        url('Lufga-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-ExtraBold.eot');
    src: local('Lufga ExtraBold'), local('Lufga-ExtraBold'),
        url('Lufga-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Lufga-ExtraBold.woff2') format('woff2'),
        url('Lufga-ExtraBold.woff') format('woff'),
        url('Lufga-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Light.eot');
    src: local('Lufga Light'), local('Lufga-Light'),
        url('Lufga-Light.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Light.woff2') format('woff2'),
        url('Lufga-Light.woff') format('woff'),
        url('Lufga-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-BoldItalic.eot');
    src: local('Lufga Bold Italic'), local('Lufga-BoldItalic'),
        url('Lufga-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lufga-BoldItalic.woff2') format('woff2'),
        url('Lufga-BoldItalic.woff') format('woff'),
        url('Lufga-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-ExtraLightItalic.eot');
    src: local('Lufga ExtraLight Italic'), local('Lufga-ExtraLightItalic'),
        url('Lufga-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lufga-ExtraLightItalic.woff2') format('woff2'),
        url('Lufga-ExtraLightItalic.woff') format('woff'),
        url('Lufga-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Bold.eot');
    src: local('Lufga Bold'), local('Lufga-Bold'),
        url('Lufga-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lufga-Bold.woff2') format('woff2'),
        url('Lufga-Bold.woff') format('woff'),
        url('Lufga-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-MediumItalic.eot');
    src: local('Lufga Medium Italic'), local('Lufga-MediumItalic'),
    url('Lufga-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('Lufga-MediumItalic.woff2') format('woff2'),
    url('Lufga-MediumItalic.woff') format('woff'),
    url('Lufga-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Italic.eot');
    src: local('Lufga Italic'), local('Lufga-Italic'),
    url('Lufga-Italic.eot?#iefix') format('embedded-opentype'),
    url('Lufga-Italic.woff2') format('woff2'),
    url('Lufga-Italic.woff') format('woff'),
    url('Lufga-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-SemiBold.eot');
    src: local('Lufga SemiBold'), local('Lufga-SemiBold'),
    url('Lufga-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Lufga-SemiBold.woff2') format('woff2'),
    url('Lufga-SemiBold.woff') format('woff'),
    url('Lufga-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-SemiBoldItalic.eot');
    src: local('Lufga SemiBold Italic'), local('Lufga-SemiBoldItalic'),
    url('Lufga-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Lufga-SemiBoldItalic.woff2') format('woff2'),
    url('Lufga-SemiBoldItalic.woff') format('woff'),
    url('Lufga-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-ThinItalic.eot');
    src: local('Lufga Thin Italic'), local('Lufga-ThinItalic'),
    url('Lufga-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('Lufga-ThinItalic.woff2') format('woff2'),
    url('Lufga-ThinItalic.woff') format('woff'),
    url('Lufga-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lufga';
    src: url('Lufga-Thin.eot');
    src: local('Lufga Thin'), local('Lufga-Thin'),
    url('Lufga-Thin.eot?#iefix') format('embedded-opentype'),
    url('Lufga-Thin.woff2') format('woff2'),
    url('Lufga-Thin.woff') format('woff'),
    url('Lufga-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

button { cursor: pointer; }
button:focus { scale:1.1; }

header { width: 1360px; height:100px; border:2px solid rgb(48, 48, 48); background-color:#171717; margin:auto; border-radius:50px; margin-top:40px; display:flex; align-items:center; justify-content:center; }
nav { border:2px solid white; width:1350px; height:80px; border-radius:50px; display:flex; align-items:center; justify-content:space-between; }
a { text-decoration:none; color:white; }
.nav_item { border:2px solid orange; height:66px; width:158px; display:flex; align-items:center; justify-content:center; }
.nav_item:nth-child(1) { background-color:var(--orange); border-radius:60px; }
#nav_logo { width:300px; height:66px; border:2px solid orange; display:flex; align-items:center; justify-content:center; }
.component_06 { width:193px; height:54px; border-radius: 24px; background-color:var(--gray); display:flex; align-items:center; justify-content:center; }

/* Section 01 */
#section_01 { display:flex; align-items:center; justify-content:center; border:1px solid red; flex-direction:column; width:90vw; margin:auto; margin-top:40px;} 
#section_01 > article:nth-child(1) { border:1px solid black; height:266px; width:913px; display:flex; flex-direction:column; align-items:center; justify-content:center; gap:10px;}
#hello_mini_box { border:1px solid black; width:127.49px; height:64px; background-image:url('../asstes/images/hello_mini_box.png'); background-repeat:no-repeat; background-size:cover; }
#mini_intro_box { border:1px solid black; height:189px; width:913px; display:flex; justify-content:center; align-items:center; }
#mini_intro_box > h1 { font-size:95.57px; text-align:center; }
#section_01 > article:nth-child(2) { border:1px solid black; height:140px; width:1460px;  display:flex; justify-content:space-between; align-items:center;}
#section_01_testimonial{ border:1px solid black; height:138px; width:328px; display:flex; flex-direction:column; justify-content:space-between;}
#section_01_stars_container { border:1px solid black; height:125px; width:169px; display:flex; flex-direction:column; justify-content:space-between; align-items:flex-end;}
#section_01_stars_container > h2 { font-size:46px; }
#section_01_stars_container > h3 {  }
#section_01 > article:nth-child(3) { border:1px solid #e205ff; min-height:700px; min-width:964.4px; background-image:url('../asstes/images/banner_home.png'); display:flex; align-items:center; justify-content:center; background-size:cover; background-repeat:no-repeat;  }
#section_01 > article:nth-child(3):hover {  border:1px solid #e205ff; background-image:url('../asstes/images/banner_home_post_effect.png');}
#home_cta_container { 
    display:flex; align-items:center; justify-content:space-around; border:2px solid #D4D4D4; width:367px; height:82px; border-radius:50px; position:relative; top:200px; 
    background: rgba(208, 213, 221, 0.15); box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(7.6px); -webkit-backdrop-filter: blur(7.6px);
}

#portfolio_button { border:1px solid #D0D5DD; width:208px; height:62px; border-radius:60px; background-color:var(--orange); display:flex; align-items:center; justify-content:center; gap:12px;}
#hire_me_container { border:1px solid red; height:54px; width:129px; display:flex; align-items:center; justify-content:center; }

/* Section 02 */

#section_02 { 
    display:flex; align-items:center; justify-content:center; border:1px solid red; flex-direction:column; border-radius:50px; margin:auto; height:878px; width:100vw; 
    background-size:cover; background-repeat:no-repeat; background-image: url('../asstes/images/section_02_banner.png');
} 

/* Section 03 */
#section_03 { border: 1px solid red; display:flex; align-items:center; justify-content:center; flex-direction:column; margin-top:20px; padding:20px; }
#section_03 > article { height:828px; border:1px solid black; width:95%; display:flex; align-items:center; justify-content: space-between; flex-direction:column; }
#section_03_container_A { border:1px solid black; height:234px; width:1298px; display:flex; align-items:center; justify-content:center; }
#section_03_container_B { width:1298px; height:438px; border:1px solid red; display:flex; align-items:flex-start; justify-content:space-between; }

#work_experience_box_A { width:495px; height:438px; border:1px solid black; display:flex; flex-direction:column; align-items:flex-start; justify-content:space-between;}
#work_experience_box_B { width:48px; height:400px; border:1px solid black;  }
#work_experience_box_C { width:444px; height:400px; border:1px solid black; display:flex; flex-direction:column; align-items:flex-start; justify-content:space-between;}

.work_experience_place_container { border: 1px solid black; height:78px; width:495px;  display:flex; flex-direction:column; align-items:flex-start; justify-content:space-between; }
.work_experience_place_container_02 { border: 1px solid black; height:132px; width:444px;  display:flex; flex-direction:column; align-items:flex-start; justify-content:space-between; }

/* Section 04 */
#section_04 { border: 1px solid red; display:flex; align-items:center; justify-content:center; flex-direction:column; margin-top:20px; padding:20px; height:806px;  background-color:var(--gray); }
#section_04 > article { height:600px; border:1px solid rgb(255, 0, 0); width:1320px; display:flex; align-items:center; justify-content: space-between; flex-direction:row; }
#section_04_box_A { border:2px solid black; height:600px; width:603px; }
#section_04_box_B { border:2px solid black; height:474px; width:696px; display:flex; flex-direction:column; align-items:flex-start; justify-content:space-between;  }
#section_04_box_B_h1 { height:64px; width:696px; border:1px solid black; }
#section_04_box_B_p { height:78px; width:444px; border:1px solid black; }
#section_04_box_B_projects_container { height:83px; width:696px; border:1px solid black; display:flex; align-items:center; justify-content:space-between; }
.number_of_projects_container { border:1px solid rgb(218, 40, 69); width:343px; height:83px; display:flex; align-items:flex-start; justify-content:center; flex-direction:column; padding:24px; }
#section_04_box_B_button { border:1px solid orange; height:108px; width:233px; border-radius:32px; }

/* Section 05 */
#section_05 { border:1px solid red; height:1124.04px; width:1440px; margin:auto; display:flex; align-items:center; justify-content:center; flex-direction:column; gap:48px;}
#section_05 > article:nth-child(1) { border:1px solid rgb(234, 164, 14); height:150px; width:1298px; display:flex; align-items:center; justify-content:space-between; }
#section_05 > article:nth-child(2) { border:1px solid purple; height:732.08px; width:1290px; display:flex; align-items:center; justify-content:space-between; flex-direction:column; }

#lirante_container_01 { border:1px solid black; height:434.08px; width:1290px; display:flex; align-items:center; justify-content:center; flex-direction:column; }
#lirante_container_02 { border:1px solid black; height:70px; width:1100px; display:flex; align-items:center; justify-content:space-between; }
#lirante_container_03 { border:1px solid black; height:148px ; width:742px; display:flex; align-items:center; justify-content:space-between; flex-direction:column; }
#lirante_food_delivery_container { border:2px solid red; width:742px; height:63px; display:flex; align-items:center; justify-content:space-between; }

#food_delivery_paragraph { border:2px solid black; height:61px; width:742px; display:flex; align-items:center; justify-content:center; }
#lirante_boxes_container { border:1px solid black; width:100%; height:100%; display:flex; align-items:center; justify-content:space-between; flex-direction:row; padding:20px;}
#food_container_A1 { border:1px solid orangered; min-width:10px; min-height:10px; }
#food_container_A2 { border:1px solid orangered; min-width:10px; min-height:10px; }

.lirante_main_box { width:633px; height:371px; border:1px solid black; border-radius:20px; display: flex; align-items:flex-start; justify-content:center; }
.boxes_top_box { width:598px; height:80px; border:2px solid orangered;  margin-top:10px; display:flex; align-items:center; justify-content:flex-end;  }
.right_arrow_container { border:1px solid var(--orange); width:70px; height:70px; border-radius:60px; }
#portfolio_text_sec5_container { border:1px solid black; height:150px; width:643px; }
button.see_all_button { width:144px; height:66px; border-radius:60px; background-color:var(--orange);  }

/* Section 06 */
#section_06 { display:flex; align-items:center; justify-content:center; flex-direction:column; margin-top:20px; background-image:url('../asstes/images/section_02_banner.png'); height:963px; background-repeat:no-repeat;
background-size:cover; }
#section_06 > article { height:600px; border:1px solid rgb(255, 0, 0); width:1320px; display:flex; align-items:center; justify-content: space-between; flex-direction:row; }
